body{
    /* background: radial-gradient(circle at 24.1% 68.8%, rgb(246, 246, 246) 0%, rgb(255, 254, 251) 99.4%); */
    background-color: #f3f3f3;
    /* background-color: #cbcbcb; */
    color: #141414;
    width: 100%;
}
header{
    color: rgb(20, 19, 19);
}
.nav_cen ul li a{
    color: rgb(20, 19, 19);
}
.toggle_nav ul li a{
    color: rgb(20, 19, 19);
}
.toggle_btn svg{
    fill: rgb(22, 21, 21);
    stroke: rgb(25, 24, 24);
}
.toggle_nav {
    background-color: rgba(8, 8, 8, 0.1);
}
/* h1{
    background: -webkit-linear-gradient(#bf6ea5, #cd20a2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
#bdy{
    background-image: url('');
}



/* ...........................................................  */
.scroll{
    border: 2px solid #141414;
}

.dot{
    border: 1px solid #141414;
}
.text{
    color: #141414;
}
.left_about svg{
    stroke:#141414;
    filter: drop-shadow(0px 0px 2px #f3f3f3 );
}
.left_skills svg{
    filter: drop-shadow(0px 0px 2px #f3f3f3 );
}

.skills_icon_main::before{
    background: linear-gradient(to left,transparent,#f3f3f3);
}
.skills_icon_main::after{
    background: linear-gradient(to right,transparent,rgb(243, 243, 243));
}
#restapi svg{
    fill: #141414;
}